# SPDX-FileCopyrightText: 2023 - 2024 Ali Sajid Imami
#
# SPDX-License-Identifier: Apache-2.0
# SPDX-License-Identifier: MIT

---
name: Security Audit
on:
    schedule:
        - cron: 0 0 1,15 * *
    push:
        branches:
            - "*"
        paths:
            - '**/Cargo.toml'
            - '**/Cargo.lock'
    workflow_dispatch:
jobs:
    security_audit:
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
            - name: Install Rust
              uses: dtolnay/rust-toolchain@stable
            - name: Install cargo-audit
              uses: taiki-e/install-action@d41099f7a5ac53711ce07431c05cad4beed1e7b0 # v2.44.31
              with:
                tool: cargo-audit
            - name: Security Audit
              run: cargo audit
