# SPDX-FileCopyrightText: 2023 - 2024 Ali Sajid Imami
#
# SPDX-License-Identifier: Apache-2.0
# SPDX-License-Identifier: MIT

---
name: Next semantic-release version
on:
    workflow_call:
        outputs:
            new-release-published:
                description: Indicates whether a new release will be published. The value is a string, either 'true' or 'false'.
                value: ${{ jobs.get-next-version.outputs.new-release-published }}
jobs:
    get-next-version:
        name: Get next release version
        runs-on: ubuntu-latest
        outputs:
            new-release-published: ${{ steps.get-next-version.outputs.new-release-published }}
        steps:
            - name: Checkout
              uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
              with:
                fetch-depth: 0
                persist-credentials: false
            - name: Configure Node.js
              uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4.0.4
              with:
                node-version: lts/*
            - name: Cache action npm dependencies
              uses: actions/cache@6849a6489940f00c2f30c0fb92c6274307ccb58a # v4.1.2
              id: cache-node-modules
              with:
                path: ${{ runner.temp }}/.semantic-release-action_next-release-version/node_modules
                key: |
                    semantic-release-action/next-release-version-${{ runner.os }}-node-${{ hashFiles('${{ github.action_path }}/package-lock.json') }}
            - name: Install dependencies on cache miss
              if: steps.cache-node-modules.outputs.cache-hit != 'true'
              run: |
                npm install -g semantic-release semantic-release-export-data
              shell: bash
            - name: Get next release version
              id: get-next-version
              env:
                GITHUB_TOKEN: ${{secrets.ACTIONS_PAT_GITHUB}}
              run: |
                : calculate next semantic-release version
                semantic-release \
                --dry-run \
                --plugins semantic-release-export-data \
                --verify-conditions semantic-release-export-data \
                --verify-release '' \
                --generate-notes semantic-release-export-data \
                --prepare '' \
                --publish '' \
                --success '' \
                --fail ''
              shell: bash
